<section id="benefits" th:fragment="benefits">
    <div class="container">

        <div class="topic">У чому наші переваги?</div>

        <div class="benefits-slider">
            <div class="rectangle">
                <div class="icon"><img src="../../../resources/img/landing/sun-icon.svg" alt="sun-icon"></div>
                <div class="name">Атмосфера</div>
                <div class="description">Підтримка кураторів, сторітеллінг, мотивація і подарунки</div>
            </div>
            <div class="rectangle">
                <div class="icon"><img src="../../../resources/img/landing/people-icon.svg" alt="people-icon"></div>
                <div class="name">Колектив</div>
                <div class="description">Навчання проходить у дружньому колективі однодумців</div>
            </div>
            <div class="rectangle">
                <div class="icon"><img src="../../../resources/img/landing/sun-icon.svg" alt="sun-icon"></div>
                <div class="name">Атмосфера</div>
                <div class="description">Підтримка кураторів, сторітеллінг, мотивація і подарунки</div>
            </div>
            <div class="rectangle">
                <div class="icon"><img src="../../../resources/img/landing/people-icon.svg" alt="people-icon"></div>
                <div class="name">Колектив</div>
                <div class="description">Навчання проходить у дружньому колективі однодумців</div>
            </div>
            <div class="rectangle">
                <div class="icon"><img src="../../../resources/img/landing/sun-icon.svg" alt="sun-icon"></div>
                <div class="name">Атмосфера</div>
                <div class="description">Підтримка кураторів, сторітеллінг, мотивація і подарунки</div>
            </div>
            <div class="rectangle">
                <div class="icon"><img src="../../../resources/img/landing/people-icon.svg" alt="people-icon"></div>
                <div class="name">Колектив</div>
                <div class="description">Навчання проходить у дружньому колективі однодумців</div>
            </div>
            <div class="rectangle">
                <div class="icon"><img src="../../../resources/img/landing/sun-icon.svg" alt="sun-icon"></div>
                <div class="name">Атмосфера</div>
                <div class="description">Підтримка кураторів, сторітелінг, мотивація і подарунки</div>
            </div>
            <div class="rectangle">
                <div class="icon"><img src="../../../resources/img/landing/people-icon.svg" alt="people-icon"></div>
                <div class="name">Колектив</div>
                <div class="description">Навчання проходить у дружньому колективі однодумців</div>
            </div>
        </div>

    </div>
</section>