<section id="comments" th:fragment="comments">
    <div class="container">

        <div class="topic">Відгуки наших випускників</div>

        <div class="comments-slider">
            <div class="rectangle">
                <div class="photo"><img src="../../../resources/img/landing/commenter-photo.png" alt="commenter-photo"></div>
                <div class="name">Тарас Шевченко</div>
                <div class="comment-text">Як умру, то поховайте Мене на могилі Серед степу широкого На Вкраїні милій, Щоб лани широкополі, І Дніпро, і кручі Було видно, було чути, Як реве ревучий. Як понесе з України У синєє море Кров ворожу... отойді я І лани і гори — Все покину, і полину До самого Бога Молитися... а до того Я не знаю Бога. Поховайте та вставайте, Кайдани порвіте І вражою злою кров’ю Волю окропіте.</div>
            </div>
            <div class="rectangle">
                <div class="photo"><img src="../../../resources/img/landing/commenter-photo.png" alt="commenter-photo"></div>
                <div class="name">Тарас Шевченко</div>
                <div class="comment-text">Як умру, то поховайте Мене на могилі Серед степу широкого На Вкраїні милій, Щоб лани широкополі, І Дніпро, і кручі Було видно, було чути, Як реве ревучий.</div>
            </div>
            <div class="rectangle">
                <div class="photo"><img src="../../../resources/img/landing/commenter-photo.png" alt="commenter-photo"></div>
                <div class="name">Тарас Шевченко</div>
                <div class="comment-text">Як умру, то поховайте Мене на могилі Серед степу широкого На Вкраїні милій, Щоб лани широкополі, І Дніпро, і кручі Було видно, було чути, Як реве ревучий. Як понесе з України У синєє море Кров ворожу... отойді я І лани і гори — Все покину, і полину До самого Бога Молитися... а до того Я не знаю Бога.</div>
            </div>
            <div class="rectangle">
                <div class="photo"><img src="../../../resources/img/landing/commenter-photo.png" alt="commenter-photo"></div>
                <div class="name">Тарас Шевченко</div>
                <div class="comment-text">Як умру, то поховайте Мене на могилі Серед степу широкого На Вкраїні милій, Щоб лани широкополі, І Дніпро, і кручі Було видно, було чути, Як реве ревучий. Як понесе з України У синєє море Кров ворожу... отойді я І лани і гори — Все покину, і полину До самого Бога Молитися... а до того Я не знаю Бога. Поховайте та вставайте, Кайдани порвіте І вражою злою кров’ю Волю окропіте.</div>
            </div>
        </div>

    </div>
</section>