<section id="teachers" th:fragment="teachers">
    <div class="container">

        <div class="topic">Професійні викладачі</div>

        <div class="teachers-slider">
            <div class="item">
                <div class="rectangle rectangle-1">
                    <div class="front">
                        <div class="photo"><img src="../../../resources/img/landing/history-teacher.png" alt="photo"></div>
                        <div class="read-more-icon" title="Читати більше"><img src="../../../resources/img/landing/readmore-icon.svg" alt="readmore-icon"></div>
                        <a href="https://www.instagram.com/" target="_blank"><div class="name">Іванов Іван</div></a>
                    </div>
                    <div class="back">
                        <div class="person-icon" title="Назад до профілю"><img src="../../../resources/img/landing/person-icon.svg" alt="person-icon"></div>
                        <div class="name">Іванов Іван</div>
                        <ul class="about-teacher">
                            <li>Автор найуспішніших курсів в Україні</li>
                            <li>Досвід викладання: 5 років</li>
                            <li>Склав ЗНО з історії на 200</li>
                            <li>Середній бал випускників: 199.5</li>
                            <li>Випустив 9000+ учнів</li>
                            <li>Підготував 112 двісті-бальників</li>
                            <li>Навчається на історичному факультеті в КНУ</li>
                            <li>Історія зі мною - це легше, ніж ти думаєш</li>
                        </ul>
                        <a href="https://www.instagram.com/" target="_blank"><div class="instagram-link">Instagram ↗</div></a>
                    </div>
                </div>
                <div class="subject">Історія</div>
            </div>
            <div class="item">
                <div class="rectangle  rectangle-2">
                    <div class="front">
                        <div class="photo"><img src="../../../resources/img/landing/math-teacher.png" alt="photo"></div>
                        <div class="read-more-icon" title="Читати більше"><img src="../../../resources/img/landing/readmore-icon.svg" alt="readmore-icon"></div>
                        <a href="https://www.instagram.com/" target="_blank"><div class="name">Квітень Яна</div></a>
                    </div>
                    <div class="back">
                        <div class="person-icon" title="Назад до профілю"><img src="../../../resources/img/landing/person-icon.svg" alt="person-icon"></div>
                        <div class="name">Квітень Яна</div>
                        <ul class="about-teacher">
                            <li>Авторка найуспішніших курсів в Україні</li>
                            <li>Досвід викладання: 5 років</li>
                            <li>Склала ЗНО з математики на 200</li>
                            <li>Середній бал випускників: 199.5</li>
                            <li>Випустила 9000+ учнів</li>
                            <li>Підготувала 112 двісті-бальників</li>
                            <li>Навчається на математичному факультеті в КНУ</li>
                            <li>Математика зі мною - це легше, ніж ти думаєш</li>
                        </ul>
                        <a href="https://www.instagram.com/" target="_blank"><div class="instagram-link">Instagram ↗</div></a>
                    </div>
                </div>
                <div class="subject">Математика</div>
            </div>
            <div class="item">
                <div class="rectangle rectangle-3">
                    <div class="front">
                        <div class="photo"><img src="../../../resources/img/landing/ukrainian-teacher.png" alt="photo"></div>
                        <div class="read-more-icon" title="Читати більше"><img src="../../../resources/img/landing/readmore-icon.svg" alt="readmore-icon"></div>
                        <a href="https://www.instagram.com/" target="_blank"><div class="name">Петренко Петро</div></a>
                    </div>
                    <div class="back">
                        <div class="person-icon" title="Назад до профілю"><img src="../../../resources/img/landing/person-icon.svg" alt="person-icon"></div>
                        <div class="name">Петренко Петро</div>
                        <ul class="about-teacher">
                            <li>Автор найуспішніших курсів в Україні</li>
                            <li>Досвід викладання: 5 років</li>
                            <li>Склав ЗНО з української на 200</li>
                            <li>Середній бал випускників: 199.5</li>
                            <li>Випустив 9000+ учнів</li>
                            <li>Підготував 112 двісті-бальників</li>
                            <li>Навчається на філологічному факультеті в КНУ</li>
                            <li>Українська зі мною - це легше, ніж ти думаєш</li>
                        </ul>
                        <a href="https://www.instagram.com/" target="_blank"><div class="instagram-link">Instagram ↗</div></a>
                    </div>
                </div>
                <div class="subject">Українська мова</div>
            </div>
            <div class="item">
                <div class="rectangle rectangle-1">
                    <div class="front">
                        <div class="photo"><img src="../../../resources/img/landing/history-teacher.png" alt="photo"></div>
                        <div class="read-more-icon" title="Читати більше"><img src="../../../resources/img/landing/readmore-icon.svg" alt="readmore-icon"></div>
                        <a href="https://www.instagram.com/" target="_blank"><div class="name">Іванов Іван</div></a>
                    </div>
                    <div class="back">
                        <div class="person-icon" title="Назад до профілю"><img src="../../../resources/img/landing/person-icon.svg" alt="person-icon"></div>
                        <div class="name">Іванов Іван</div>
                        <ul class="about-teacher">
                            <li>Автор найуспішніших курсів в Україні</li>
                            <li>Досвід викладання: 5 років</li>
                            <li>Склав ЗНО з історії на 200</li>
                            <li>Середній бал випускників: 199.5</li>
                            <li>Випустив 9000+ учнів</li>
                            <li>Підготував 112 двісті-бальників</li>
                            <li>Навчається на історичному факультеті в КНУ</li>
                            <li>Історія зі мною - це легше, ніж ти думаєш</li>
                        </ul>
                        <a href="https://www.instagram.com/" target="_blank"><div class="instagram-link">Instagram ↗</div></a>
                    </div>
                </div>
                <div class="subject">Історія</div>
            </div>
            <div class="item">
                <div class="rectangle  rectangle-2">
                    <div class="front">
                        <div class="photo"><img src="../../../resources/img/landing/math-teacher.png" alt="photo"></div>
                        <div class="read-more-icon" title="Читати більше"><img src="../../../resources/img/landing/readmore-icon.svg" alt="readmore-icon"></div>
                        <a href="https://www.instagram.com/" target="_blank"><div class="name">Квітень Яна</div></a>
                    </div>
                    <div class="back">
                        <div class="person-icon" title="Назад до профілю"><img src="../../../resources/img/landing/person-icon.svg" alt="person-icon"></div>
                        <div class="name">Квітень Яна</div>
                        <ul class="about-teacher">
                            <li>Авторка найуспішніших курсів в Україні</li>
                            <li>Досвід викладання: 5 років</li>
                            <li>Склала ЗНО з математики на 200</li>
                            <li>Середній бал випускників: 199.5</li>
                            <li>Випустила 9000+ учнів</li>
                            <li>Підготувала 112 двісті-бальників</li>
                            <li>Навчається на математичному факультеті в КНУ</li>
                            <li>Математика зі мною - це легше, ніж ти думаєш</li>
                        </ul>
                        <a href="https://www.instagram.com/" target="_blank"><div class="instagram-link">Instagram ↗</div></a>
                    </div>
                </div>
                <div class="subject">Математика</div>
            </div>
            <div class="item">
                <div class="rectangle rectangle-3">
                    <div class="front">
                        <div class="photo"><img src="../../../resources/img/landing/ukrainian-teacher.png" alt="photo"></div>
                        <div class="read-more-icon" title="Читати більше"><img src="../../../resources/img/landing/readmore-icon.svg" alt="readmore-icon"></div>
                        <a href="https://www.instagram.com/" target="_blank"><div class="name">Петренко Петро</div></a>
                    </div>
                    <div class="back">
                        <div class="person-icon" title="Назад до профілю"><img src="../../../resources/img/landing/person-icon.svg" alt="person-icon"></div>
                        <div class="name">Петренко Петро</div>
                        <ul class="about-teacher">
                            <li>Автор найуспішніших курсів в Україні</li>
                            <li>Досвід викладання: 5 років</li>
                            <li>Склав ЗНО з української на 200</li>
                            <li>Середній бал випускників: 199.5</li>
                            <li>Випустив 9000+ учнів</li>
                            <li>Підготував 112 двісті-бальників</li>
                            <li>Навчається на філологічному факультеті в КНУ</li>
                            <li>Українська зі мною - це легше, ніж ти думаєш</li>
                        </ul>
                        <a href="https://www.instagram.com/" target="_blank"><div class="instagram-link">Instagram ↗</div></a>
                    </div>
                </div>
                <div class="subject">Українська мова</div>
            </div>
        </div>

    </div>
</section>